# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Cobertura de testes
coverage/

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Arquivos temporários
tmp/
temp/